<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/MainLayout}">

<th:block layout:fragment="title">
    <title>Work Ware</title>
</th:block>

<!--            content Header              -->
<th:block layout:fragment="content_title">
    <h1>Home</h1>
</th:block>

<th:block layout:fragment="breadcrumb">
    <li class="breadcrumb-item active">Home</li>
</th:block>
<!--            content Header              -->


<!-- content -->
<div layout:fragment="content">

</div>
</html>