<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<th:block th:fragment="script">
    <script th:src="@{/js/jquery-3.6.0.min.js}"></script>

    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/79613ae794.js" crossorigin="anonymous"></script>
    <!-- adminLTE -->
    <script src="/dist/js/adminlte.min.js?v=3.2.0"></script>

    <!-- jQurey  -->
    <script src="/plugins/jquery/jquery.min.js"></script>
    <!-- bootstrap -->
    <script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- FastClick -->
    <script src="/plugins/fastclick/fastclick.js"></script>
    <!-- dataPicker-->
    <script src="/plugins/daterangepicker/daterangepicker.js"></script>
    <!-- summernote-->
    <script src="/plugins/summernote/summernote-bs4.min.js"></script>

<!--    &lt;!&ndash; demo purposes &ndash;&gt;-->
<!--    <script src="/dist/js/demo.js"></script>-->


</th:block>
</html>