<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/MainLayout}">

<th:block layout:fragment="title">
    <title>Work Ware</title>
</th:block>

<!--            content Header              -->
<th:block layout:fragment="content_title">
    <h1>채팅</h1>
</th:block>

<th:block layout:fragment="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active">Chat</li>
</th:block>
<!--            content Header              -->


<!-- content -->
<div layout:fragment="content">
    <div class="container-fluid">
        <div class="row" style="height: 750px">
            <div class="col-md-6" style="height: 100%" >
                <div class="card card-blue direct-chat direct-chat-blue float-right" style="height: 100%; width:600px">
                    <div class="card-header">
                        <h3 class="card-title">제목(상대방 이름 예정)</h3>
                        <div class="card-tools">
                            <span title="3 New Messages" class="badge bg-danger">3</span>
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-tool" title="Contacts" data-widget="chat-pane-toggle">
                                <i class="fas fa-comments"></i>
                            </button>
                            <button type="button" class="btn btn-tool" data-card-widget="remove">
                                <i class="fas fa-times"></i>
                            </button>
                        </div>
                    </div>

                    <div class="card-body">
                        <div class="direct-chat-messages">
                            <!-- 상대방이 보낸 내용.-->
                            <div class="direct-chat-msg">
                                <div class="direct-chat-infos clearfix">
                                    <span class="direct-chat-name float-left">상대방이름</span>
                                    <span class="direct-chat-timestamp float-right">23 Jan 2:00 pm(시간)</span>
                                </div>

                                <img class="direct-chat-img" src="/images/default_profile.png" alt="Message User Image">

                                <div class="direct-chat-text" >
                                    내용
                                </div>

                            </div>

                            <!-- 내가 보낸 내용.-->
                            <div class="direct-chat-msg right">
                                <div class="direct-chat-infos clearfix">
                                    <span class="direct-chat-name float-right">나</span>
                                    <span class="direct-chat-timestamp float-left">23 Jan 2:05 pm(시간)</span>
                                </div>

                                <img class="direct-chat-img" src="/images/default_profile.png" alt="Message User Image">
                                <div class="direct-chat-text">
                                    내용
                                </div>
                            </div>

                        </div>

                        <!-- 톡 내용 알려줌,-->
                        <div class="direct-chat-contacts">
                            <ul class="contacts-list">
                                <li>
                                    <a href="#">
                                        <img class="contacts-list-img" src="../dist/img/user1-128x128.jpg" alt="User Avatar">
                                        <div class="contacts-list-info">
                                            <span class="contacts-list-name">
                                                상대방 이름
                                                <small class="contacts-list-date float-right">2/28/2015</small>
                                            </span>
                                            <span class="contacts-list-msg">내용.</span>
                                        </div>

                                    </a>
                                </li>

                            </ul>

                        </div>

                    </div>

                    <div class="card-footer">
                        <form action="#" method="post">
                            <div class="input-group">
                                <input type="text" name="message" placeholder="Type Message ..." class="form-control">
                                <span class="input-group-append">
                                    <button type="submit" class="btn btn-primary">Send</button>
                                </span>
                            </div>
                        </form>
                    </div>

                </div>
            </div>

            <div class="col-md-6">
                <div class="card card-blue card-outline float-left" style="height: 100%; width: 400px;">
                    <div class="card-header">
                        <h3 class="card-title">채팅방</h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool"  >
                                <i class="fas fa-solid fa-address-book"></i>
                            </button>
                            <button type="button" class="btn btn-tool"  >
                                <i class="fas fa-solid fa-comment-medical"></i>
                            </button>
                        </div>
                    </div>

                    <div class="card-body">
                        <div class="list-group">

                        </div>
                    </div>

                    <div class="card-footer clearfix">
                        <ul class="pagination pagination-sm m-0">
                            <li class="page-item"><a class="page-link" href="#">«</a></li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">»</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block layout:fragment="script">
    <script type="text/javascript">



    </script>
</th:block>
</html>