<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{fragments/Head:: header}"> </head>

<body class="sidebar-mini layout-fixed" >

<div class="wrapper">
    <!-- nav header-->
    <nav th:replace="fragments/NavBar :: navBar"></nav>
    <!-- sideBar-->
    <aside th:replace="fragments/SideBar :: sideBar"></aside>
    <!-- content -->
    <div th:replace="fragments/Content :: content_wrapper"></div>
</div>

<!-- script -->
<th:block th:replace="fragments/Script :: script"></th:block>



<!-- script block-->
<th:block layout:fragment="script">
    <script th:inline="javascript">
    </script>
</th:block>
</body>
</html>