<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/UserLayout}">


<body class="register-page">
<div class="register-box" style="width: 900px">
    <div class="card card-outline dark">
        <!-- card header-->
        <div class="card-header text-center">
            <a href="/" class="h1"><b>WORK</b>WARE</a>
        </div>
        <!-- card body-->
        <div class="card card-body">
            <form id="registerForm" method="post" enctype="multipart/form-data" th:object="${registerFormDto}" >
                <div class="bs-stepper linear">
                    <div class="bs-stepper-header" role="tablist">
                        <div class="step" data-target="#photo-part">
                            <button type="button" class="step-trigger" role="tab" aria-controls="photo-part" id="photo-part-trigger" aria-selected="false" disabled="disabled">
                                <span class="bs-stepper-circle">0</span>
                                <span class="bs-stepper-label">Photo</span>
                            </button>
                        </div>
                        <div class="line"></div>
                        <div class="step" data-target="#information-part">
                            <button type="button" class="step-trigger" role="tab" aria-controls="information-part" id="information-part-trigger" aria-selected="false" disabled="disabled">
                                <span class="bs-stepper-circle">2</span>
                                <span class="bs-stepper-label">Information</span>
                            </button>
                        </div>
                        <div class="line"></div>
                        <div class="step" data-target="#logins-part">
                            <button type="button" class="step-trigger" role="tab" aria-controls="logins-part" id="logins-part-trigger" aria-selected="false" disabled="disabled">
                                <span class="bs-stepper-circle">3</span>
                                <span class="bs-stepper-label">Logins</span>
                            </button>
                        </div>

                    </div>
                    <div class="bs-stepper-content">
                        <div id="photo-part" class="content" role="tabpanel" aria-labelledby="photo-part-trigger">
                            <div class="form-group">
                                <label th:for="photo">Photo</label>
                                <div class="row">
                                    <div class="col-4">
                                        <img id="photoImage" src="/images/default_profile.png" class="img-circle" width="200" height="200">
                                    </div>
                                    <div class="col-8">
                                        <h5 class="text-bold text-dark" id="control-sidebar-toggle-markup">
                                            대표이미지를 설정해주세요.
                                        </h5>
                                        <p>
                                            이미지는 나중에 Profile에서 수정이 가능합니다.
                                            <p class="red">JPG, PNG, JPEG 파일만 올려주세요.</p>
                                            <input type="file" class="form-control" name="photoFile" onchange="imageChange(this)">
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <button class="btn btn-primary" type="button" onclick="stepper.next()">Next</button>
                        </div>

                        <div id="information-part" class="content" role="tabpanel" aria-labelledby="information-part-trigger">
                            <div class="form-group">
                                <label th:for="company">company</label>
                                <div id="companies" class="input-group mb-3">

                                </div>
                            </div>

                            <div class="form-group">
                                <label th:for="name">Name</label>
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" th:field="*{name}">
                                    <div class="input-group-append">
                                        <div class="input-group-text">
                                            <span class="fas fa-user"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label th:for="phone">Phone</label>
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" th:field="*{phone}">
                                    <div class="input-group-append">
                                        <div class="input-group-text">
                                            <span class="fas fa-phone"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label th:for="address">Address</label>
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" th:field="*{address}" >
                                    <div class="input-group-append">
                                        <div class="input-group-text">
                                            <span class="fas fa-lock"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button class="btn btn-primary" type="button"onclick="stepper.previous()">Previous</button>
                            <button class="btn btn-primary" type="button" onclick="stepper.next()">Next</button>
                        </div>
                        <div id="logins-part" class="content" role="tabpanel" aria-labelledby="logins-part-trigger">
                            <div class="form-group">
                                <label th:for="email">Email</label>
                                <div class="input-group mb-3">
                                    <input type="email" class="form-control" th:field="*{email}" >
                                    <div class="input-group-append">
                                        <div class="input-group-text">
                                            <span class="fas fa-envelope"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label th:for="password">Password</label>
                                <div class="input-group mb-3">
                                    <input type="password" class="form-control" th:field="*{password}">
                                    <div class="input-group-append">
                                        <div class="input-group-text">
                                            <span class="fas fa-lock"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label th:for="password2">Retype Password</label>
                                <div class="input-group mb-3">
                                    <input type="password" class="form-control" id="password2" name="password2">
                                    <div class="input-group-append">
                                        <div class="input-group-text">
                                            <span class="fas fa-lock"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button class="btn btn-primary" type="button" onclick="stepper.previous()">Previous</button>
                            <button class="btn btn-primary" onclick="stepper.next()">Submit</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>

<!-- script -->
<th:block th:replace="fragments/Script :: script"></th:block>
<!-- stepper-->
<script src="/plugins/bs-stepper/js/bs-stepper.min.js"></script>
<!-- validation-->
<script src="/plugins/jquery-validation/jquery.validate.min.js"></script>
<script src="/plugins/jquery-validation/additional-methods.min.js"></script>


<script type="text/javascript">
    $(document).ready(function (){
        $.ajax({
            type: 'GET',
            url: '/member/company-list',
            success:function (company_list){
                console.log(company_list);
                let companies = document.getElementById("companies");
                let selectList = document.createElement("select")
                selectList.className = "form-control"
                selectList.name = "company_id"

                //Create and append the options
                for (var i = 0; i < company_list.length; i++) {
                    let option = document.createElement("option");
                    option.value = "c-"+i;
                    option.text = company_list[i];
                    selectList.appendChild(option);
                }
                companies.appendChild(selectList);
            }
        })
    })

    function imageChange(event){
        let photoImage = document.getElementById("photoImage");

        let render = new FileReader();
        render.onload = (e) =>{
            console.log("이미지 변경")
            photoImage.src = e.target.result
        };
        render.readAsDataURL(event.files[0]);
    }

    let stepper = new Stepper(document.querySelector(".bs-stepper"))
    $(function () {
        $('#registerForm').validate({
            rules: { /* 체크할 항목.*/
                name:{
                    required: true,
                },
                phone:{
                    required: true,
                    // regex: "^(010|011)[-\\s]?\\d{3,4}[-\\s]?\\d{4}$"
                },
                address:{
                    required:true,
                },
                email: {
                    required: true,
                    email: true,
                },
                password: {
                    required: true,
                    minlength: 5
                },
                password2:{
                    required: true,
                    minlength: 5,
                    equalTo: "#password"
                }
            },
            messages: {
                name: {
                    required: "Please enter your name",
                },
                phone: {
                    required: "Please enter your phone",
                    //regex: "전화번호 양식을 확인해주세요."
                },
                address: {
                    required: "Please enter your address",
                },
                email: {
                    required: "Please enter a email address",
                    email: "Please enter a valid email address"
                },
                password: {
                    required: "Please provide a password",
                    minlength: "Your password must be at least 5 characters long"
                },
                password2: {
                    required: "Please provide a password",
                    minlength: "Your password must be at least 5 characters long",
                    equalTo : "Please enter the same password as above"
                },

            },
            errorElement: 'span',
            errorPlacement: function (error, element) {
                error.addClass('invalid-feedback');
                element.closest('.form-group').append(error);
            },
            highlight: function (element, errorClass, validClass) {
                $(element).addClass('is-invalid');
            },
            unhighlight: function (element, errorClass, validClass) {
                $(element).removeClass('is-invalid');
            }
        });
    });


</script>

</body>

</html>