<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/UserLayout}">


<body class="register-page">
<div class="register-box">
    <div class="card card-outline dark">
        <!-- card header-->
        <div class="card-header text-center">
            <a href="/" class="h1"><b>WORK</b>WARE</a>
        </div>
        <!-- card body-->
        <div class="card card-body">
            <form id="registerForm" method="post" enctype="multipart/form-data" th:object="${registerFormDto}">
                <div class="bs-stepper linear">
                    <div class="bs-stepper-header" role="tablist">
                        <div class="step active" data-target="#method-part">
                            <button type="button" class="step-trigger" role="tab" aria-controls="method-part" id="method-part-trigger" aria-selected="true">
                                <span class="bs-stepper-circle">1</span>
                                <span class="bs-stepper-label">Method</span>
                            </button>
                        </div>
                        <div class="line"></div>
                        <div class="step" data-target="#information-part">
                            <button type="button" class="step-trigger" role="tab" aria-controls="information-part" id="information-part-trigger" aria-selected="false" disabled="disabled">
                                <span class="bs-stepper-circle">2</span>
                                <span class="bs-stepper-label">Information</span>
                            </button>
                        </div>
                        <div class="line"></div>
                        <div class="step" data-target="#logins-part">
                            <button type="button" class="step-trigger" role="tab" aria-controls="logins-part" id="logins-part-trigger" aria-selected="false" disabled="disabled">
                                <span class="bs-stepper-circle">3</span>
                                <span class="bs-stepper-label">Logins</span>
                            </button>
                        </div>

                    </div>
                    <div class="bs-stepper-content">
                        <div id="method-part" class="content active dstepper-block" role="tabpanel" aria-labelledby="method-part-trigger">
                            <p class="login-box-msg">회원가입 방식을 선택하세요.</p>
                            <!--   다른 방식의 회원가입.-->
                            <div class="social-auth-links text-center">
                                <a href="javascript: alert('준비중입니다.')" class="btn btn-block btn-warning" style="padding-left: 1px; font-size: 14px; width: 300px; margin-left: auto; margin-right: auto;">
                                    <i class="fas fa-comment mr-2" style="font-size: 20px; float: left"></i> SignUp with Kakao
                                </a>
                                <a href="javascript: alert('준비중입니다.')" class="btn btn-block btn-danger" style="padding-left: 1px; font-size: 14px; width: 300px;  margin-left: auto; margin-right: auto;">
                                    <i class="fab fa-google-plus mr-2" style="font-size: 20px; float: left"></i> SignUp with Google+
                                </a>
                            </div>
                            <div style="padding-left: 1px; text-align: center;">
                                <button class="btn btn-outline-primary" type="button" onclick="stepper.next()" style="font-size: 14px; width: 300px;">회원가입</button>
                            </div>
                            <div style="padding-left: 1px; font-size: 14px; width: 300px;  margin-left: auto; margin-right: auto;">
                                <a href="/member/login" class="text-center float-right" >I already have a membership</a>
                            </div>

                        </div>

                        <div id="information-part" class="content" role="tabpanel" aria-labelledby="information-part-trigger">
                            <div class="row">
                                <div class="card card-outline card-secondary col-12">
                                    <div class="card-header">
                                        <label>Photo</label>
                                    </div>
                                    <div class="card-body row">
                                        <div class="col-3">
                                            <img class="row" src="/images/default_profile.png" width="150px" height="200px" style="border-radius: 5px; margin:auto; margin-bottom: 5px;"  >
                                            <input type="file" class="form-control" id="photoFile" name="photoFile">
                                        </div>
                                        <div class="col-9">
                                            <p>대표이미지는 나중에 수정할 수 있습니다.</p>
                                            <p><strong style="color: red">JPG, PNG, JPEG 파일만 넣어주세요.</strong></p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="form-group">
                                <label th:for="name">Name</label>
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" th:field="*{name}">
                                    <div class="input-group-append">
                                        <div class="input-group-text">
                                            <span class="fas fa-user"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label th:for="phone">Phone</label>
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" th:field="*{phone}">
                                    <div class="input-group-append">
                                        <div class="input-group-text">
                                            <span class="fas fa-phone"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label th:for="address">Address</label>
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" th:field="*{address}">
                                    <div class="input-group-append">
                                        <div class="input-group-text">
                                            <span class="fas fa-lock"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button class="btn btn-primary" type="button"onclick="stepper.previous()">Previous</button>
                            <button class="btn btn-primary" type="button" onclick="stepper.next()">Next</button>
                        </div>

                        <div id="logins-part" class="content" role="tabpanel" aria-labelledby="logins-part-trigger">
                            <div class="form-group">
                                <label th:for="email">Email</label>
                                <div class="input-group mb-3">
                                    <input type="email" class="form-control" th:field="*{email}">
                                    <div class="input-group-append">
                                        <div class="input-group-text">
                                            <span class="fas fa-envelope"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label th:for="password">Password</label>
                                <div class="input-group mb-3">
                                    <input type="password" class="form-control" th:field="*{password}">
                                    <div class="input-group-append">
                                        <div class="input-group-text">
                                            <span class="fas fa-lock"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label th:for="password2">Retype Password</label>
                                <div class="input-group mb-3">
                                    <input type="password" class="form-control" id="password2" name="password2">
                                    <div class="input-group-append">
                                        <div class="input-group-text">
                                            <span class="fas fa-lock"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button class="btn btn-primary" type="button" onclick="stepper.previous()">Previous</button>
                            <button class="btn btn-primary" onclick="stepper.next()">Submit</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>

<!-- script -->
<th:block th:replace="fragments/Script :: script"></th:block>
<!-- stepper-->
<script src="/plugins/bs-stepper/js/bs-stepper.min.js"></script>
<!-- validation-->
<script src="/plugins/jquery-validation/jquery.validate.min.js"></script>
<script src="/plugins/jquery-validation/additional-methods.min.js"></script>


<script type="text/javascript">
    let stepper = new Stepper(document.querySelector(".bs-stepper"))
    $(function () {
        $('#registerForm').validate({
            rules: { /* 체크할 항목.*/
                name:{
                    required: true,
                },
                phone:{
                    required: true,
                    // regex: "^(010|011)[-\\s]?\\d{3,4}[-\\s]?\\d{4}$"
                },
                address:{
                    required:true,
                },
                email: {
                    required: true,
                    email: true,
                },
                password: {
                    required: true,
                    minlength: 5
                },
                password2:{
                    required: true,
                    minlength: 5,
                    equalTo: "#password"
                }
            },
            messages: {
                name: {
                    required: "Please enter your name",
                },
                phone: {
                    required: "Please enter your phone",
                    //regex: "전화번호 양식을 확인해주세요."
                },
                address: {
                    required: "Please enter your address",
                },
                email: {
                    required: "Please enter a email address",
                    email: "Please enter a valid email address"
                },
                password: {
                    required: "Please provide a password",
                    minlength: "Your password must be at least 5 characters long"
                },
                password2: {
                    required: "Please provide a password",
                    minlength: "Your password must be at least 5 characters long",
                    equalTo : "Please enter the same password as above"
                },

            },
            errorElement: 'span',
            errorPlacement: function (error, element) {
                error.addClass('invalid-feedback');
                element.closest('.form-group').append(error);
            },
            highlight: function (element, errorClass, validClass) {
                $(element).addClass('is-invalid');
            },
            unhighlight: function (element, errorClass, validClass) {
                $(element).removeClass('is-invalid');
            }
        });
    });


</script>

</body>

</html>