<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/UserLayout}">

<body class="login-page" >
    <div class="login-box">
        <div class="card card-outline card-primary">
            <!-- card header-->
            <div class="card-header text-center">
                <a href="/" class="h1"><b>WORK</b>WARE</a>
            </div>

            <!-- card body-->
            <div class="card-body">
<!--                <p class="login-box-msg">Sign in</p>-->
                <!--  form -->
                <form method="post" role="form">
                    <div class="input-group mb-3">
                        <input type="email" class="form-control" id="email" name="email" placeholder="Email">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
<!--                            <div class="icheck-primary">-->
<!--                                <input type="checkbox" id="remember">-->
<!--                                <label for="remember">-->
<!--                                    Remember Me-->
<!--                                </label>-->
<!--                            </div>-->
                        </div>

                        <div class="col-4">
                            <button type="submit" class="btn btn-primary btn-block">Sign In</button>
                        </div>
                    </div>
                </form>
                <div class="social-auth-links text-center mt-2 mb-3">
                    <a href="javascript: alert('준비중입니다.')" class="btn btn-block btn-warning" style="padding-left: 1px; font-size: 14px;">
                        <i class="fas fa-comment mr-2" style="font-size: 20px; float: left"></i> Login with Kakao
                    </a>
                    <a href="javascript: alert('준비중입니다.')" class="btn btn-block btn-danger" style="padding-left: 1px; font-size: 14px;">
                        <i class="fab fa-google-plus mr-2" style="font-size: 20px; float: left"></i> Login with Google+
                    </a>
                </div>
                <div class="row">
                    <div class="col-8">
                        <p class="mb-1">
                            <a href="javascript: alert('준비중입니다.')">Password </a>
                        </p>

                    </div>
                    <div class="col-4">
                        <p class="mb-0">
                            <a href="/member/create" class="btn btn-primary btn-block">Register</a>
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>

</body>

</html>